* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.AllMails {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90vh;

  .AllMails-header-pagination {
    display: flex;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #77777731;
    justify-content: space-between;

    .AllMails-header-left-group {
      width: 150px;
      display: flex;
      color: #777777;
      * {
        cursor: pointer;
      }
      .AllMails-Checkall-checkbox {
        width: 35.5%;
        @include flex-center;
      }
      .AllMails-refresh {
        width: 35.5%;
        @include flex-center;
      }
      .AllMails-header-menu {
        width: 35.5%;
        @include flex-center;
        :hover {
          background-color: #f1f3f4;
          border-radius: 50%;
        }
      }
    }
    .AllMails-header-right-group {
      width: 190px;
      display: flex;
      color: #777777;

      .AllMails-header-pages {
        width: 55%;
        @include flex-center;
        font-size: 12px;
      }
      .AllMails-header-pagination-icons {
        width: 22.5%;
        @include flex-center;
        cursor: pointer;
        :hover {
          background-color: #f1f3f4;
          border-radius: 50%;
        }
        * {
          font-size: 15px;
        }
      }
    }
  }

  .AllMails-filters {
    display: flex;
    align-items: center;
    width: 100%;
    height: 55px;
    border-bottom: 1px solid rgba(94, 88, 88, 0.178);
    .AllMails-filters-item {
      width: 255px;
      height: 100%;
      display: flex;
      color: #615d5d;
      display: flex;
      align-items: center;
      cursor: pointer;
      span {
        margin: 10px 10px;
        * {
          font-size: 1.2rem;
        }
      }
      p {
        font-size: 1rem;
      }
    }
  }
  .AllMails-scroll {
    height: 100%;
    width: 100%;
    overflow: scroll;
    padding-left: 1px;    
    .AllMails-single-mail {
      display: flex;
      width: 100%;
      height: 38px;
      border-bottom: 1px solid rgba(128, 128, 128, 0.233);

      .AllMails-single-mail-checkbox-star {
        @include flex-center;
        height: 100%;
        width: 38px;
        * {
          font-size: 1.2rem;
        }
      }
      .AllMails-single-mail-sender {
        @include flex-center;
        justify-content: start;
        font-weight: bolder;
        height: 100%;
        width: 16%;
        font-size: 0.9rem;
      }
      .AllMails-single-mail-title-discription {
        height: 100%;
        width: 75%;
        display: flex;
        .AllMails-single-mail-title {
          @include flex-center;
          font-weight: bolder;
          justify-content: start;
          height: 100%;
          font-size: 0.9rem;
        }
        .AllMails-single-mail-discription {
          @include flex-center;
          height: 100%;
        }
      }

      .AllMails-single-mail-actions-btns {
        width: 10px;
        height: 100%;
      }
      .AllMails-single-mail-send-time {
        @include flex-center;
        height: 100%;
        width: 5rem;
      }
    }
  }
  ::-webkit-scrollbar {
    width: 5px;
    display: block;
  }

  ::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
  .AllMails-single-mail:hover {
    box-shadow: 1px 1px 1px rgba(131, 127, 127, 0.589),
      0px 0px 3px rgba(100, 97, 97, 0.719);
  }
}

.Active-Filter {
  border-bottom: 3px solid #d73025;
  border-radius: 0 0 3px 3px;
  * {
    color: #d93025;
  }
}
