* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.AllMails {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  // border: 1px solid red;
  .AllMails-header {
    display: flex;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #77777731;
    justify-content: space-between;

    .AllMails-header-left-group {
      width: 150px;
      display: flex;
      .AllMails-Checkall-checkbox {
        width: 35.5%;
        @include flex-center;
        cursor: pointer;
      }
      .AllMails-refresh {
        width: 35.5%;
        color: #777777;
        @include flex-center;
        cursor: pointer;
      }
      .AllMails-header-menu {
        width: 35.5%;
        color: #777777;
        @include flex-center;
        cursor: pointer;
        :hover {
          background-color: #f1f3f4;
          border-radius: 50%;
        }
      }
    }
    .AllMails-header-right-group {
      width: 190px;
      display: flex;
      .AllMails-header-pages {
        width: 55%;
        color: #777777;
        @include flex-center;
        font-size: 12px;
      }
      .AllMails-header-back-pagination {
        width: 22.5%;
        @include flex-center;
        cursor: pointer;
        color: #777777;
        :hover {
          background-color: #f1f3f4;
          border-radius: 50%;
        }
        * {
          font-size: 15px;
        }
      }
      .AllMails-header-next-pagination {
        width: 22.5%;
        color: #777777;
        cursor: pointer;
        @include flex-center;
        :hover {
          background-color: #f1f3f4;
          border-radius: 50%;
        }
        * {
          font-size: 15px;
        }
      }
    }
  }
}
