* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 57px;
  border: 1px solid rgb(233, 225, 225);
  .menu {
    @include flex-center;
    width: 3.5%;
    height: 100%;
    cursor: pointer;
  }
  .nav-logo {
    @include flex-center;
    width: 6.5%;
    height: 100%;
    img {
      width: 100%;
      height: 70%;
    }
  }
  .nav-search {
    display: flex;
    align-items: center;
    width: 78%;
    height: 100%;
    .search {
      @include flex-center;
      background-color: rgb(241, 243, 244);
      border-radius: 10px;
      margin-left: 5rem;
      width: 55%;
      height: 80%;
      .search-icon {
        @include flex-center;
        cursor: pointer; 
        width: 7%;
        height: 100%;
      }
      .search-input {
        @include flex-center;
        width: 86%;
        height: 100%;
      }
      .search-filter {
        @include flex-center;
        cursor: pointer; 
        width: 7%;
        height: 100%;
      }
    }
  }
  .nav-support {
    @include flex-center;
    cursor: pointer; 
    width: 3%;
    height: 100%;
  }
  .nav-setting {
    @include flex-center;
    cursor: pointer;  
    width: 3%;
    height: 100%;
  }
  .nav-g-apps {
    @include flex-center;
    cursor: pointer; 
    width: 3%;
    height: 100%;
  }
  .nav-google-account {
    @include flex-center;
    cursor: pointer; 
    width: 2%;
    height: 55%;
    border-radius: 50%;
    background-color: green;
    font-size: 1.2rem;
    color: white;
  }
}
